<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>freeboard</servlet-name>
  	<servlet-class>com.wd.controller.FreeboardControl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>freeboard</servlet-name>
  	<url-pattern>*.freeboard</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>notice</servlet-name>
  	<servlet-class>com.wd.controller.NoticeControl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>notice</servlet-name>
  	<url-pattern>*.notice</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>qna</servlet-name>
  	<servlet-class>com.wd.controller.QnaControl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>qna</servlet-name>
  	<url-pattern>*.qna</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>member</servlet-name>
  	<servlet-class>com.wd.controller.MemberControl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>member</servlet-name>
  	<url-pattern>*.member</url-pattern>
  </servlet-mapping>
</web-app>